/* SECCION DE RESETO DE CSS, elimina codigo involuntario de ciertos navegadores y dispositivos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; /*esto establece el tamano de fuente universal, utililizar REM para medidas de fuentes*/
  scroll-behavior: smooth;
  overflow-x: hidden; /*eliminamos cualquier posible overflow de raiz*/
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* fin de reset de estilos */

/*HEADER incluye navbar, imagen de fondo, indicador de seccion {titulo, linea y subtitulo} e imagen tipo flecha boton */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(/Assets/Images/Header_BG_60_v2.jpg) center/cover no-repeat;
  animation: zoomBackground 50s ease;
  animation-iteration-count: infinite;
  z-index: -1; 
}

/* animaciones para el fondo de header */
@keyframes zoomBackground {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
}

.logo-navbar img {
  width: 50px; /*tamano logo navbar*/
}

.burger {
  display: none; /*oculta menu burger movil en desktop*/
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #fff;
  font-family: 'Satoshi', sans-serif;
  font-size: 2rem;
  padding: 5px 20px;
  margin-left: 1vw;
  margin-right: 1vw;
  transition: all .3s ease;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
  transition: all .3s ease;
}

.filler-navbar { 
  width: 2%;/*esto es un div invisible, que ayuda a centrar el navbar sin intervenir el resto del codigo, el width queda en porcentaje para garantizar buena posicion en cualquier pantalla*/
}

.Indicador-seccion {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5%; /*esto se agrega para compenzar y dejar la LINEA en el horizonte de la imagen en DESKTOP, irrelevante para mobil*/
  gap: 20px;
  text-align: center;
}

#indicador-index {
  margin-top: 2%; /*esto es solo para la el indicador en index, compenza desplazamiento por BR*/
}

.Titulo-seccion {
  font-family: 'Satoshi', sans-serif;
  color: #ffffff;
  font-size: 5rem;
  line-height: 4rem;
  font-weight: 600;
  opacity: 0;
  animation: fadeDown 0.8s ease forwards;
}

.Linea {
  width: 230px;
  height: 2px;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  animation: fadeDown 0.8s ease 0.2s forwards; /*duracion de dropdown con delay de 0.2s*/
}

.Subtitulo-seccion {
  font-family: 'Satoshi', sans-serif;
  color: #ffffff;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 300;
  opacity: 0;
  animation: fadeDown 0.8s ease 0.4s forwards; /*duracion de dropdown con delay de 0.4s*/
}

@keyframes fadeDown { /*animacion para seccion de Titulo */
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

 /*boton para ir a seccion ID, destino se cambia con ID en html*/
.btn-container { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vh;
}

.down-btn {
  cursor: pointer;
}

.down-btn img {
  width: 35px;
  scale: 1;
  transition: all .3s ease;
}

.down-btn img:hover {
  scale: 1.5;
  transition: all .3s ease;
}
/*Fin boton de seccion*/

/*ESTILOS primera seccion de index*/
.contenedor-index-1 {
  display: flex;
  height: 100vh;
  width: auto;
  overflow: hidden;
  scroll-margin-top: -100px; /*esto es para compensar por el scroll down y animacion AOS, la animacion te desplaza el contenido 100 px de arriba a abajo, esto asegura que el boton del header te pone esta seccion 100% en pantalla sin problemas*/
}

.texto-index-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 15px;
  padding: 0% 12%;
}

.titulo-index-1 {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5.5rem;
}

.linea-index-1 {
  height: 1.5px;
  width: 250px;
  background-color:  #000000;
}

.parrafo-index-1 {
  font-family:'Work sans', sans-serif;
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 450;
}

.imagen-index-1 {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imagen-index-1 img {
  height: 100%;
  width: auto;
}

/*ESTILOS segunda seccion de index*/
.contenedor-index-2 {
  display: flex;
  width: 100%;
  height: 100vh;
}

/*primera mitad de seccion*/
.texto-index-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/Assets/Images/Foto_Interior_Reunion.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  gap: 20px;
  
}

.titulo-index-2 {
  font-family: 'Satoshi', sans-serif;
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 400;
  color: #ffffff;
  text-align: start;
}

.linea-index-2 {
  height: 1.5px;
  margin-right: 3vw;
  width: 250px;
  background-color: #ffffff;
}

/* otra mitad de seccion */
.servicios-index-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-responsivo-index-2 {
  display: none;
}

.servicios-index-2 ul {
  display: flex;
  flex-direction: column;
  gap: 3.5vh;
  margin: 0;
  padding: 0;
}

.servicios-index-2 ul li a {
  display: block;
  padding: 20px;
  font-family: 'Satoshi', sans-serif;
  font-size: 2.5rem;
  color: #000000;
  transition: all .5s ease;
}

.servicios-index-2 ul li a:hover {
  color: #ffffff;
  background-color: #000000;
  transition: all .5s ease;
}

.contenedor-index-3 {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.texto-index-3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding-right: 11vw;
  padding-left: 11vw;
}

.parrafo-jib {
  width: 100%;
  font-family: 'Work sans', sans-serif;
  font-size: 1.7rem;
  line-height: 3.2rem;
}

#firma-jib {
  width: 100%;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: end;
  margin-top: 2vw;
}

#cargo-jib {
  width: 100%;
  font-family: 'Satoshi', sans-serif;
  font-size: 2.5rem;
  text-align: end;
}

.imagen-index-3 {
  width: 50%;
  background-image: url(/Assets/Images/JIB_pel-v3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*FIN CODIGO DE PABLO*/

/*CODIGO DE SEBA */
footer {
  background-color: #F2F2F2;
  text-align: center;
  margin-bottom: 5%;
}

.footer-logo {
  height: 100px;
  margin-top: 5%;
}
/*FIN CODIGO DE SEBA*/

/*NOSOTROS*/
.contenedor-nosotros-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(/Assets/Images/Pilares.jpg);
  background-size: cover;
  background-position: center;
}

.contenido-principal {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: width 0.5s ease;
  background-color: rgba(255, 255, 255, 0.7);
}

#boton-abrir {
    border: none;
    background-color: transparent;
    font-family: 'Satoshi', sans-serif;
    font-size: 3rem;
    cursor: pointer;
}

#boton-abrir:hover {
    font-weight: 600;
}

#boton-cerrar {
  border: none;
  color: #ffffff;
  background-color: transparent;
  font-family: 'Satoshi', sans-serif;
  font-size: 3rem;
  cursor: pointer;
}

.titulo-contenido {
  font-family: 'Satoshi', sans-serif;
  font-size: 5rem;
  text-decoration: underline;
}

.subtitulos-contenido {
  font-family: 'Satoshi', sans-serif;
  font-size: 5rem;
  font-weight: 400;
}

.panel-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  transition: transform 0.5s ease;
}

.nosotros-parrafo {
  font-family: 'Work sans', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  color: #ffffff;
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
}

/*HISTORIA*/ 
.contenedor-historia-1 {
  display: flex;
  width: 100%;
  height: 100vh;
  scroll-margin-top: -100px;
  overflow: hidden;
}

.texto-historia-1 {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  gap: 10px; 
}

.titulo-texto-historia-1 {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
}

.linea-historia-1 {
  height: 2px;
  width: 200px;
  background-color: #000000;
}

.parrafo-historia-1 {
  font-family: 'Work sans', sans-serif;
  font-size: 1.7rem;
  line-height: 2.8rem;
}

.imagen-historia-1 {
  width: 50%;
  background-image: url(/Assets/Images/Cartel_.jpeg);
  background-position: center;
  background-size: cover;
}

.contenedor-historia-2 {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.izq-historia-2 {
  display: flex;
  width: 50%;
  justify-content: end;
  align-items: center;
}

.posicion-izq-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.imagen-historia-2 {
  width:  300px;
  height: 550px;
  background-image: url(/Assets/Images/JoseSoler.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subtitulo-imagen-historia-2 {
  font-family: 'Satoshi', sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 300px;
}

.der-historia-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 15px;
  padding-left: 3%;
}

.titulo-historia-2 {
  font-family: 'Satoshi', sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 400;
}

.linea-historia-2 {
  width: 300px;
  height: 2px;
  background-color: #000000;
}

.contenedor-historia-3 {
  width: 100%;
  height: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 50px;
}

.titulos-historia {
  font-family: 'Work sans', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}

.parrafos-historia {
  font-family: 'Work sans', sans-serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-align: justify;
}

/*CONTACTO*/ 
.contenedor-contacto {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scroll-margin-top: -100px;
}

.contenedor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15vw;
  width: 50%;
  background-color: #000000;
}

.titulo-info {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: #ffffff;
}

.contenido-info {
  font-family: 'Satoshi', sans-serif;
  text-wrap: wrap;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.contenedor-linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contenedor-linkedin a img{
  width: 40px;
}


.contenedor-maps {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}

/*FOOTER*/
footer {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  margin: 0;
}

.logo-footer {
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.contenedor-info-footer {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 40px;
}

.contenedor-lista-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contenedor-lista-footer li {
  font-family: 'Work sans', sans-serif;
  font-size: 1.5rem;
  color: #000000;
}

.contenedor-lista-footer li img {
  width: 20px;
}


@media only screen and (max-width: 1100px) {

  .texto-index-1 {
    padding: 0% 5%;
  }

  .texto-index-3 {
    padding-right: 8vw ;
    padding-left: 8vw;
  }

  .parrafo-jib {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  #firma-jib {
    font-size: 2rem;
  }
  
  #cargo-jib {
    font-size: 2rem;
  }
 
  /*HISTORIA*/
  .texto-historia-1 {
    padding-left: 6%;
    padding-right: 6%;
  }

  .titulo-texto-historia-1 {
    font-size: 4rem;
  }

  .parrafo-historia-1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  /*CONTACTO*/
  .contenedor-info {
    padding-left: 10vw;
  }


}

@media only screen and (max-width: 750px) { /*PRIMER BREAKPOINT PARA PANTALLAS CHICAS*/

  /*SECCION NAVBAR REPONSIVA */
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 12rem; /*la distancia desde top al inicio del menu*/
      flex-direction: column;
      background-color: #2f2f2f;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      z-index: 1;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      border-top: 1px solid #808080;
      border-bottom: 1px solid #808080;
  }

  .nav-link:hover {
      color: #ffffff;
      background-color: #2f2f2f;
      transition: all .3s ease;
  }

  .burger {
      display: block;
      cursor: pointer;
  }

  .burger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .burger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .burger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .Titulo-seccion {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 4rem;
    line-height: 4rem;
  }
  
  .Linea {
    width: 200px;
    height: 1px;
  }
  
  .Subtitulo-seccion {
    font-size: 2rem;
    line-height: 2rem;
  }

 /*SECCION CONTENIDO INDEX */
  .contenedor-index-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .texto-index-1 {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    padding: 100px 50px;
  }

  .titulo-index-1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .parrafo-index-1 {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .imagen-index-1 {
    display: none;
  }

  /*Para Contenedor Index 2*/

  .contenedor-index-2 {
    height: 100vh;
  }

  .texto-index-2 {
    display: none;
  }

  .titulo-responsivo-index-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
  }

  .titulo-responsivo-index-2 h2 {
    font-family: 'Satoshi', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
  }

  .linea-responsiva-index-2 {
    display: block;
    background-color: #ffffff;
    height: 1px;
    width: 150px;
  }

  .servicios-index-2 {
    width: 100%;
    background-image: url(/Assets/Images/Foto_Interior_Reunion.jpg);
    background-position: center;
    background-size: cover;
  }

  .servicios-index-2 ul {
    gap: 10px;
  }

  .servicios-index-2 ul li a {
    text-align: center;
    color: #ffffff;
  }

  #ver-mas{
    font-weight: 600;
  }

  /*Para Contenedor Index 3*/

  .texto-index-3 {
    width: 100%;
  }

  .imagen-index-3 {
    display: none;
  }

/*NOSOTROS*/

.panel-principal {
  width: 100%;
  right:-100%;
  background-image: url(/Assets/Images/Pilares.jpg);
  background-size: cover;
  background-position: center;
}


/*HISTORIA*/
  .texto-historia-1 {
    align-items: center;
    width: 100%;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
  }

  .imagen-historia-1 {
    display: none;
  }

  .imagen-historia-2 {
    width: 50vw;
  }

  .subtitulo-imagen-historia-2 {
    width: 50vw;
  }

  .titulo-historia-2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .linea-historia-2 {
    width: 175px
  }


  /*CONTACTO*/
  .contenedor-contacto {
    flex-direction: column;
    height: auto;
  }

  .contenedor-info {
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
  }

  .contenedor-maps {
    width: 100%;
    padding: 50px;
  }
}


/*Fin boton de seccion*/
/* Fin seccion Header - CODIGO DE PABLO*/

/* Seccion Servicios  - CODIGO DE SEBA *

/* segunda parte de la pagina */
.info-servicios {
  padding: 2rem; 
  text-align: center;
  background-color: #eaeaea;
  height: auto;
  margin: 0;
  padding: 0;
}

/* navbar de los servicios disponibles */
.lista-servicios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
}

.lista-servicios button {
  font-family: 'Satoshi', sans-serif;
  color: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background-color: #E5E5E5;
}

.lista-servicios button:hover {
  font-weight: bold;
  background-color: transparent;
}

.lista-servicios button.active {
  font-weight: bold;
  background-color: transparent;
}

/* secciones de la pagina */
.secciones {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: auto;
}

/* seccion izquierda */
.seccion-izq {
  display: flex;
  flex: 1;
  width: 50%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden; 
  z-index: 1;
}

/* imagen de fondo de la seccion izquierda */
.bg-img-izq {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Assets/Images/izq_placeholder.jpg'); /* Ruta de la imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: difference;
  filter: brightness(0.5);
  z-index: -1;
}

.seccion-izq h1 {
  font-family: 'Satoshi', sans-serif;
  font-size: 6rem;
  text-align: start;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
}

.line {
  height: 1px;
  width: 36rem;
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;
}

.seccion-izq p {
  font-family: 'work-sans', sans-serif;
  font-size: 2rem;
  margin-left: 25%;
  margin-right: 20%;
  line-height: 1.6;
  text-align: start;
  color: white;
}

/* seccion derecha */
.seccion-der {
  flex: 1;
  display: flex;
  width: 50%;
  height: 90vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Satoshi', sans-serif;
  position: relative;
  overflow: hidden; 
  z-index: 1;
}

.content-block {
  display: flex;
  flex-direction: row;
  width: 100%;
}


@media only screen and (max-width: 1100px) {
  .seccion-izq {
    width: 65%;
    flex: 0 0 65%;
    padding: 30px;
  }

  .seccion-der {
      width: 35%;
      flex: 0 0 35%;
      padding: 30px;
  }

  .seccion-izq h1 {
      font-size: 5.2rem;
      margin: 15px 10%;
  }

  .seccion-izq p {
      font-size: 2rem;
      margin: 10px 10%;
      line-height: 1.5;
  }

  .line {
      width: 35rem;
      margin: 10px 10%;
  }

  .lista-servicios {
      height: auto;
      padding: 15px 0;
  }

  .lista-servicios button {
      font-size: 2rem;
      padding: 10px;
  }
}


@media only screen and (max-width: 750px) {

 

  /*SECCION SERVICIOS RESPONSIVA */
  .secciones {
    min-height: 100vh;
  }

  .seccion-izq {
    width: 65%;
    flex: 0 0 65%;
    padding: 20px;
  }

  .seccion-der {
      width: 35%;
      flex: 0 0 35%;
      padding: 20px; 
  }

  .seccion-izq h1 {
      font-size: 5rem;
      margin: 15px 15%;
  }

  .seccion-izq p {
      font-size: 1.8rem;
      margin: 10px 15%;
      line-height: 1.4;
  }

  .line {
      width: 70%;
      margin: 10px 15%;
  }

  .lista-servicios {
      padding: 10px 0;
      height: auto;
  }

  .lista-servicios button {
      padding: 10px;
      font-size: 1.6rem;
  }
}

